:host {
    display: flex;
    flex-flow: row wrap;

    ol, ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .recipie {
        flex: 1 1 20em;
        margin: 0.5em;

        mat-expansion-panel-header {
            position: relative;
            
            img {
                aspect-ratio: 104/77;
                position: absolute;
                left: 0;
                width: 100%;
                filter: brightness(40%);
            }
        }


        mat-panel-title {
            font-weight: bolder;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            span {
                z-index: 2;
            }
        }

        mat-panel-description {
            z-index: 2;
            align-items: center;
            white-space: nowrap;
            justify-content: flex-end;
        }

        // > div:first-child {
        //     display: flex;
        //     flex-flow: row nowrap;
        //     grid-column-start: 1;
        //     grid-column-end: 3;
        //     background-repeat: no-repeat;
    
        //     > img {
        //         aspect-ratio: auto;
        //         max-height: 150px;
        //         width: 150px;
        //         border: 1px solid black;
        //     }
        // }     
        
        mat-expansion-panel-header {
            overflow: hidden;
        }

        .ingredients {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 0.3em;
        }
    }

    .ingredient {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        text-transform: capitalize;

        img {
            aspect-ratio: auto;
            max-height: 80px;
            width: 50px;
            background-color: white;
            border: 1px solid black;
            margin-right: 0.2em;
        }
    }
}