:host{
  position: relative;
}

#header-title {
  flex: 0 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header-title[ng-reflect-router-link] {
  cursor: pointer;
}

#main-footer {
  // Prevents scroll bars appearing when the filter opens when the flex order is reversed so the tool bar is on the bottom
  overflow-y: hidden;
}

app-filter {
  flex: 0 0 auto;
}

#header-menu {
  flex: 0 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

button[mat-menu-item].active {
  display: none;
}
