<mat-toolbar id="main-footer" role="heading">
  <span id="header-title">{{pageTitle$ | async}}</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigation menu">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu" yPosition="above">
  <button mat-menu-item (click)="login()" *ngIf="!isLoggedIn">
    <mat-icon svgIcon="person"></mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item (click)="logout()" *ngIf="!!isLoggedIn">
    <mat-icon svgIcon="person"></mat-icon>
    <span>logout</span>
  </button>
  <ng-container *ngIf="(pagePath$ | async) as pagePath">
    <button mat-menu-item routerLink="new" [ngClass]="{ 'active': pagePath === 'new' }">
      <mat-icon svgIcon="new"></mat-icon>
      <span>New item</span>
    </button>
    <button mat-menu-item routerLink="have" [ngClass]="{ 'active': pagePath === 'have' }">
      <mat-icon svgIcon="have"></mat-icon>
      <span>I Have...</span>
    </button>
    <button mat-menu-item routerLink="need" [ngClass]="{ 'active': pagePath === 'need' }">
      <mat-icon svgIcon="need"></mat-icon>
      <span>I Need...</span>
    </button>
  </ng-container>
</mat-menu>
