<mat-toolbar id="main-footer" role="heading">
  <ng-container *ngIf="(afAuth.user | async); else noLoggedIn">
    <ng-container *ngIf="{ result: (titleRoute$ | async)} as routerLink">
      <span id="header-title" *ngIf="!!routerLink.result" [routerLink]="routerLink.result">{{pageTitle$ | async}}</span>
      <span id="header-title" *ngIf="!routerLink.result">{{pageTitle$ | async}}</span>
    </ng-container>
    <span class="spacer"></span>
    <button mat-stroked-button
      *ngIf="!!(updateService.updateAvaliable$ | async)"
      (click)="updateService.reloadApp()"
    >Update</button>
    <mat-icon svgIcon="disconnected"
      *ngIf="!(onlineState.appOnline$ | async)"
      matTooltip="Disconnected from the internet"
    ></mat-icon>
    <app-filter 
      *ngIf="!!(filterService.filterable$ | async)" 
      (filter)="filterService.filterTerm = $event"
    ></app-filter>
    <button mat-icon-button
      id="header-menu" 
      [matMenuTriggerFor]="menu" 
      aria-label="Opens an extra menu of actions and navigation"
      matTooltip="Navigation menu"
    >
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<mat-menu #menu="matMenu" yPosition="above">
  <button mat-menu-item (click)="authService.signOut()">
    <mat-icon svgIcon="person"></mat-icon>
    <span>logout</span>
  </button>
  <button mat-menu-item (click)="colorSchemeService.toggle()">
    <mat-icon svgIcon="star"></mat-icon>
    <span>Switch theme</span>
  </button>
  <button mat-menu-item (click)="showUserID()" *ngIf="(afAuth.user | async)">
    <mat-icon svgIcon="person"></mat-icon>
    <span>Show user ID</span>
  </button>
  <button mat-menu-item 
    routerLink="lists"
    aria-label="Navigate to the page of lists you are apart of"
    matTooltip="Switch viewed list"
  >
    <mat-icon svgIcon="list"></mat-icon>
    <span>{{(list$ | async)?.name || 'Default'}}</span>
  </button>
  <ng-container *ngIf="(pagePath$ | async) as pagePath">
    <button mat-menu-item 
      routerLink="have"
      aria-label="Navigate to the page of items you have"
      matTooltip="Items you already have"
      [ngClass]="{ 'active': pagePath === 'have' }"
    >
      <mat-icon svgIcon="have"></mat-icon>
      <span>I Have...</span>
    </button>
    <button mat-menu-item 
      routerLink="need" 
      [ngClass]="{ 'active': pagePath === 'need' }"
      aria-label="Navigate to the page of items you need"
      matTooltip="Items you don't have and need"
    >
      <mat-icon svgIcon="cart"></mat-icon>
      <span>I Need...</span>
    </button>
  </ng-container>
</mat-menu>
<ng-template #noLoggedIn>
  <span id="header-title">Please login to continue</span>
</ng-template>
