<form [formGroup]="itemGroup">
    <mat-list>
      <!-- Name Field -->
      <mat-list-item class="item-name">
        <mat-form-field color="accent" class="full-width">
          <mat-label>Name</mat-label>
          <input type="text"
                 matInput
                 formControlName="name"
                 [matAutocomplete]="autoNames">
          <mat-autocomplete #autoNames="matAutocomplete">
            <mat-option *ngFor="let option of (filteredNameOptions$ | async)" [value]="option">{{option}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-list-item>
      <!-- Category Field -->
      <mat-list-item class="item-category">
        <mat-form-field color="accent" class="full-width">
          <mat-label>Category</mat-label>
          <input type="text"
                 matInput
                 formControlName="category"
                 [matAutocomplete]="autoCategories">
          <mat-autocomplete #autoCategories="matAutocomplete">
            <mat-option *ngFor="let option of (filteredCategoryOptions$ | async)" [value]="option">{{option}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-list-item>
      <!-- Measurement Field -->
      <mat-list-item class="item-measurement">
        <mat-form-field color="accent" class="full-width">
          <mat-label>Measurement</mat-label>
          <mat-select matInput formControlName="measurement">
            <ng-container *ngFor="let measurement of (measurements$ | async)">
              <ng-container [ngSwitch]="!!measurement.id">
                <mat-option *ngSwitchCase="true" [value]="measurement.id">{{ measurement.name | titlecase }} ({{ measurement.unit }})</mat-option>
                <mat-option *ngSwitchCase="false" [value]="null">None</mat-option>
              </ng-container>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <!-- Amount Field -->
      <mat-list-item class="item-amount">
        <mat-form-field color="accent" class="full-width">
          <mat-label>Amount</mat-label>
          <input type="number"
                 min="0"
                 step="0.01"
                 matInput
                 formControlName="amount">
        </mat-form-field>
      </mat-list-item>
      <!-- Estimated Toggle -->
      <mat-list-item>
        <mat-checkbox formControlName="estimated" color="accent">Estimated</mat-checkbox>
      </mat-list-item>
      <!-- Quanity Field -->
      <mat-list-item class="item-quantity">
        <mat-form-field  color="accent" class="full-width">
          <mat-label>Quantity</mat-label>
          <input type="number"
                 min="1"
                 step="1"
                 matInput
                 formControlName="quantity">
        </mat-form-field>
      </mat-list-item>
      <!-- Obtained Toggle -->
      <mat-list-item class="item-obtained">
        <span>I Need</span>
        <mat-slide-toggle formControlName="obtained" color="accent"></mat-slide-toggle>
        <span>I Have</span>
      </mat-list-item>
      <!-- List Field -->
      <mat-list-item class="item-list">
        <mat-form-field color="accent" class="full-width">
          <mat-label>List</mat-label>
          <mat-select matInput formControlName="list">
            <ng-container *ngFor="let list of (lists$ | async)">
              <ng-container [ngSwitch]="!!list.id">
                <mat-option *ngSwitchCase="true" [value]="list.id">{{ list.name | titlecase }}</mat-option>
                <mat-option *ngSwitchCase="false" [value]="null">None</mat-option>
              </ng-container>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item class="item-submit">
        <button mat-raised-button
                class="full-width"
                color="primary"
                type="submit"
                (click)="onSubmit()"
        >Save</button>
      </mat-list-item>
    </mat-list>
  
  </form>

  <button mat-icon-button 
    matTooltip="Cancel"
    class="button-cancel" 
    cdkFocusInitial 
    aria-label="Close the item edit dialog, canceling the action"
    (click)="dialogRef.close()"
  ><mat-icon style="transform: rotate(45deg);" svgIcon="plus"></mat-icon></button>
  