:host  {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  > cdk-virtual-scroll-viewport {
    flex: 1 1 auto;
  }

  // > app-new-item {
  //   position: sticky;
  //   bottom: 0;
  // }
}

div.item {
  display: flex;
  padding: 0.3em 1em;
  border-radius: 5px;

  > app-list-item {
    margin-right: 0.5em;
    flex: 1 1 auto;
  }
}

div.item:not(:last-child) {
  margin-bottom: 0.3em;
}

div.item:hover,
div.item:focus {
  background-color: hsl(0 0% 100% / 0.05);
  outline: none;
}