<ng-container *ngIf="(categories$ | async) as categories">
  <mat-accordion class="categories">
    <mat-expansion-panel class="category" *ngFor="let category of categories">
      <mat-expansion-panel-header>
        <mat-panel-title>{{category}}</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ng-container *ngIf="(itemsCatagorizedFiltered$ | async) as items">
          <ul class="items">
            <li
              class="item"
              *ngFor="let item of items[category]"
              tabindex="0"
            >
              <div>{{item.name}}</div>
              <div *ngIf="!!item.measurement && !!item.quantity">
                <span *ngIf="!!item.estimated">~</span>
                <span>{{item.quantity}}</span>
                <span *ngIf="(item.measurement | getMeasurement | async) as measurement" 
                      [matTooltip]="measurement.name | titlecase "
                >{{measurement.unit}}</span>
              </div>
              <div>{{item.count || 1}}</div>
            </li>
          </ul>
        </ng-container>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
