:host  {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;

  > div:first-child {
    flex: 1 1 auto;
  }
}

.category {
  margin: 0 0.2em;
}

mat-panel-title {
  text-decoration: underline;
}

.category:not(:first-child) {
  margin-top: 0.2em;
}

ul.items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li.item {
    padding: 0.5em 0;
    border-radius: 5px;
    display: flex;

    app-list-item {
      margin-right: 0.5em;
      flex: 1 1 auto;
    }
  }

  li.item:not(:last-child) {
    margin-bottom: 0.3em;
  }
  
}

mat-panel-description {
  justify-content: flex-end;
}

.cart-actions {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-top: 1em;
  }

  > *:not(:last-child) {
    margin-right: 0.5em;
  }
}

.basket {
  margin: 0.2em;
}
