<div>
  <ng-container *ngIf="{ categories: (categories$ | async), categorizedItems: (itemsCatagorized$ | async) } as results">
    <mat-accordion class="categories">
      <ng-container *ngFor="let category of results.categories">
        <ng-container *ngIf="!!results.categorizedItems">
          <mat-expansion-panel class="category" *ngIf="results.categorizedItems[category] as items">
            <mat-expansion-panel-header>
              <mat-panel-title>{{category || '(No Category Set)'}}</mat-panel-title>
              <mat-panel-description>{{items?.length || 0}}</mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <ul class="items">
                <li
                  class="item"
                  *ngFor="let item of (items || []); trackBy: trackByItemID"
                  tabindex="0"
                >
                  <app-list-item [item]="item">
                    <button mat-icon-button
                      (click)="moveToCart(item)"
                      color="accent"
                      type="button"
                      matTooltip="Move item to shopping cart"
                      aria-label="Moves item to shopping cart for bulk toogle of item's obtained state"
                    ><mat-icon svgIcon="checkbox-empty"></mat-icon></button>
                  </app-list-item>
                </li>
              </ul>
            </ng-template>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </mat-accordion>
  </ng-container>
</div>