:host {
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

div.firebase-auth-ui {
	position: absolute;
	left: 0;
	bottom: 8vh;
	right: 0;
	z-index: 2;
}

main {
	flex: 1 1 auto;
	position: relative;
	overflow-y: auto;
	display: flex;
	flex-flow: column nowrap;
}
