:host {
  display: block;
}

h2 {
  font-size: medium;
}

.ingredient {
  text-transform: capitalize;

  > td:first-child {
    text-align: right;
  }
}

mat-chip label {
  padding-bottom: 0;
  padding-right: 0.3em;
}
