
.basket {
    margin: 0.5em 0.2em;
}

mat-panel-title {
    align-items: center;

    > * {
        margin-right: 0.3em;
    } 
}

mat-panel-description {
    justify-content: flex-end;
}

ul.items {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 25em) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 50em) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cart-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
