mat-dialog-content {
    display: flex;
    flex-flow: column nowrap;

    mat-form-field {
        margin-bottom: 0.5em;

        button {
            vertical-align: text-bottom;
        }
    }

}

.adduser mat-icon {
    transform: scale(0.6);
}
  
.button-cancel {
	position: absolute;
	top: 3px;
	right: 3px;
}

.hidden {
    display: none;
}
